/* color: #8395a7; */

body {
    margin: 0;
    padding: 0;
    background-color: #2f3542;
    font-family: 'McLaren', cursive;
}

.header {
    padding: 4rem 8rem 4rem;
    background-color: #d1d8e0;
    color: #303952;
}

h1, h2, p {
    margin: 0.5rem auto;
}

input[type=text], 
input[type=date],
input[type=number] {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

/* Form and Table */
.container {
    padding: 4rem 8rem 4rem;
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "form table";
}

.expense-form {
    color: #8395a7;
    grid-area: form;
    align-content: center;
}

.expense-name, 
.expense-type, 
.expense-date,
.expense-amount {
    margin: 10px auto;
}

.expense-form-btn {
    margin: 25px 0;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #8395a7;
    color: #8395a7;
    font-size: x-large;
}

.expense-form-btn:hover {
    cursor: pointer;
    background-color: #8395a7;
    color: #2f3542 ;
}

.expense-table {
    color: #8895a7;
    grid-area: table;
    width: 100%;
}

.expense-table td, .expense-table th {
    /* border: 1px solid #8395a7; */
    padding: 6px;
    text-align: left;
}

.expense-table tr:hover {
    background-color: #8395a7;
    color: #303952;
}

.expense-table th {
    text-align: left;
}