*, *::before, *::after { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    background-color: #2f3542;
    font-family: 'McLaren', cursive;
}

.header {
    padding: 4rem 8rem 4rem;
    background-color: #d1d8e0;
    color: #303952;
    /* text-align: center; */
}

h1, h2, p {
    margin: 0.5rem auto;
}

input[type=text], 
input[type=date],
input[type=number] {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 5px;
    font-family: inherit;
}

/* Form and Table */
.container {
    padding: 4rem 8rem 4rem;
    display: grid;
    grid-column-gap: 5rem;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "form table";
}

.expense-form {
    color: #8395a7;
    grid-area: form;
    text-align: center;
}

.expense-name, 
.expense-type, 
.expense-date,
.expense-amount {
    margin: 10px auto;
}

.expense-form-btn {
    margin: 25px 0;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #8395a7;
    color: #8395a7;
    font-size: x-large;
}

.expense-form-btn:hover {
    cursor: pointer;
    background-color: #8395a7;
    color: #2f3542 ;
}

table {
    border-collapse: collapse;
    margin: auto;
}

table tr:nth-child(even) {
    background-color: #40407a;
}

.expense-table {
    color: #8895a7;
    grid-area: table;
    text-align: center;
    border: 3px solid #F9FAF5;
    background-color: #312D2F;
}

.expense-table td, .expense-table th {
    border: 1px solid #8395a7;
    padding: 6px;
}

.expense-table tr:hover {
    background-color: #8395a7;
    color: #303952;
}

.expense-table th {
    text-align: left;
}