/* color: #8395a7; */

body {
    margin: 0;
    padding: 0;
    background-color: #2f3542;
    font-family: 'McLaren', cursive;
}

.container {
    padding: 4rem 8rem 4rem;
}

.header {
    padding: 4rem 8rem 4rem;
    background-color: #d1d8e0;
    color: #303952;
}

label, th, td {
    color: #8395a7;
}

.card-header {
    color: #8395a7;
}

h1, h2, p {
    margin: 0.5rem auto;
}
